ios/LitPOC/Litrpcproxy.framework/
lit-rpc-proxy/Litrpcproxy.framework/
ios/LitPOC/LitPOC.xcodeproj/xcuserdata/
android/litrpcproxy/litrpcproxy.aar
lit-rpc-proxy/litrpcproxy-sources.jar
lit-rpc-proxy/litrpcproxy.aar
ios/LitPOC/webui
android/app/src/main/assets/lit-webui